* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #fff
}

::-webkit-scrollbar-thumb:hover {
    background: gold;
}


.container {
    width: 80%;
    margin: 0 auto;
}

hr {
    width: 50%;
    margin: 0px auto 2em auto;
}

.active {
    color: #fff;
}

h1 {
    line-height: 2em;
}

a {
    text-decoration: none;
    color: gold;
}

li {
    list-style-type: none;
}

a:hover {
    color: #fff;
}

body {
    font-family: 'Roboto slab', 'Times New Roman', Times, serif;
}

/* Header starts here */

.nav__list {
    display: flex;
}

.navigation {
    display: flex;
    background-color: #000;
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    width: 100%;
    padding-right: 2em;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav__list li a {
    font-size: 20px;
    margin: 10px;
}

/* first article starts here */

.first__article {
    height: 20em;
    margin-top: 4em;
    background-color: #000;
    padding: 30px 10px 0px 10px;
    margin-top: 5em;
    margin-bottom: 2em;
}

.first__article h1 {
    color: gold;
    font-size: 3em;
    text-align: center;
}

.first__article p {
    color: #fff;
    line-height: 1.5rem;
    text-align: justify;
    font-size: 18px;
    padding: 0px 20px 0px 20px;
}

/* first article ends here */

/* Second article starts here */

.second__article {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.skills img,
.tools img {
    width: 100px;
    height: 100px;
    animation: images 4s 1 forwards;
}

@keyframes images {
    100% {
        transform: scale(1.5);
    }
}

/* Second article ends here */

/* Third article starts here */
.third__article {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
}

.tools {
    display: flex;
    justify-content: space-evenly;
}

/* Third article starts here */

.disclaimer {
    color: blue !important;
    font-size: 16px !important;
    text-align: center;
    margin-bottom: 1em;
}

/* Footer starts here */

footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
    height: 4em;
}

footer a,
footer p {
    color: #fff;
}

footer a {
    font-size: 36px;
}

footer p {
    font-size: 18px;
}

/* Media query starts here */
@media only screen and (max-width: 425px) {

    .first__article {
        height: 38em;
        margin-top: 9em;
    }

    .skills {
        margin: 0 auto;
        width: 40%;
    }

    .skills>img {
        margin-bottom: 10px;
    }

    .tools {
        margin: 0 auto;
        width: 40%;
    }

    .tools>img {
        margin-bottom: 10px;
    }

    /*Humburger menu starts here*/

    .nav__list {
        display: none;
        margin-top: -1%;
    }

    .navigation {
        flex-direction: column;
        padding-top: 8em;
    }

    .nav__list.show {
        display: flex;
        flex-direction: column;
    }

    #burger__menu {
        display: inline-block;
        cursor: pointer;
        margin: 0 -19em 1em 0;
    }

    .top__bar,
    .middle__bar,
    .bottom__bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.5s;
    }

    .change .top__bar {
        transform: rotateZ(-45deg) translateY(9px)
    }

    .change .middle__bar {
        opacity: 0;
    }

    .change .bottom__bar {
        transform: rotateZ(45deg) translateY(-10px);
    }

    .skills {
        flex-direction: column;
    }

    .tools {
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px) {

    .first__article {
        height: 43em;
    }

    /* Humbuger menu starts here */

    #burger__menu {
        margin: 1em -16em 1em 0px;
    }
}

@media only screen and (max-width: 320px) {

    .first__article h1 {
        font-size: 2em;
    }

    .first__article {
        height: 47em;
    }

    .skills,
    .tools {
        width: 60%;
    }

    /* Humbuger menu starts here */

    #burger__menu {
        margin: 1em -13em 1em 0px;
    }
}