*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto slab', 'Times New Roman', Times, serif;
}

hr{
    width:50%;
    margin: 0px auto 2em auto;
}

.active{
    color: #fff;
}

h2{
    line-height: 2em;
}

a{
    text-decoration: none;
    color: gold;
}

li{
    list-style-type: none;
}

a:hover{
    color:#fff;
}

/* Header starts here */

.nav__list{
    display: flex;
}

.navigation{
    display: flex;
    background-color: #000;
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    width: 100%;
    padding-right: 2em;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav__list li a{
 font-size: 20px;
 margin: 10px;
}


/* Section starts here */

/* First article starts here */

.title{
    position: absolute;
    left: 10%;
    top: 30%;
    text-align: center;
    z-index: 1;
}

.title h2{
    font-size: 4em;
    color: gold;
}

.title h3{
    font-size: 2em;
    color: #fff;
    background-color: #000;
    border-width: 20%;
    border-color: red;
}

#slide{
    width: 100%;
    height: 25em;
    overflow: hidden;
    position: relative;
    background-image: url("images/red-mouse-computer.jpg");  
    background-size: cover;
    margin-bottom: 10px;
}

#slide > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: slide 25s infinite;
    opacity: 0;
  }

  #slide > div:nth-child(2) {
    animation-delay: 5s;
  }
  #slide > div:nth-child(3) {
    animation-delay: 10s;
  }
  #slide > div:nth-child(4) {
    animation-delay: 15s;
  }
  
  @keyframes slide {
    10% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    40% {
      transform: scale(1.2);
    }
  }

  /* Second article starts here */
  .project__header{
    text-align: center;
    line-height: 1em;
    font-size: 4em;
}

.project__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects{
    margin: 0px 0px 10px 0px;
    background-color: #000;
    border-radius: 4px;
    padding: 5px 0px 5px 5px;
    width: 320px;
    border: 2px solid gray;
}

.project__links a:first-child{
    background-color: maroon;
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    margin-left: 30%;
}

figcaption h2{
    text-align: center;
    color: gold;
}

.description{
    text-align: justify;
    margin: 15px 10px 0 10px;
    color: #fff;
}

figcaption h3{
    text-align: center;
    line-height: 2em;
    color: gold;
}

.skills{
    font-family: "New Tegomin", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    line-height: 2em;
    color: #fff;
}

#project__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.disclaimer{
    color: blue !important;
    font-size: 16px !important;
    text-align: center;
    margin-bottom: 1em;
}

/* Footer starts here */

footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;   
    height: 4em;
}

footer a, footer p{
    color: #fff;
}

footer a{
    font-size: 36px;
}

footer p{
    font-size: 18px;
}

/* Media query starts here */

@media only screen and (max-width: 425px){
    .title h2{
        font-size: 2em;
        color: orangered;
    }

/*Humburger menu starts here*/

    .nav__list{
        display: none;
    }

    .navigation{
        flex-direction: column;
        padding-top: 8em;
    }

    .nav__list.show{
        display: flex;
        flex-direction: column;
    }  

    #burger__menu{
        display: inline-block;
        cursor: pointer;
        margin: 1em -20em 1em 0px;
    }

    .top__bar, .middle__bar, .bottom__bar{
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.5s;
    }

    .change .top__bar{
        transform: rotateZ(-45deg) translateY(9px)
    } 

    .change .middle__bar{
        opacity: 0;
    }

    .change .bottom__bar{
        transform: rotateZ(45deg) translateY(-10px);
    } 
}

@media only screen and (max-width: 320px){
    .projects{
        width: 280px;
        margin-left: 20px;
    }

    .project__links a:first-child{
        margin-left: 23%;
    }

    /* Humburger menu starts here */

    #burger__menu{
        margin: 1em -16em 1em 0px;
    }
}




